@keyframes fadein {
    0% { background-color: rgba(255, 255, 255, 0); opacity:0}
    100% { background-color: rgba(255, 255, 255, 0.7); opacity:1}
    }

@keyframes zoomin {
    0% { transform: scale(1) }
    100% { transform: scale(1.12); }
    }

.kitty-card-overlay:hover {
    animation: fadein 0.20s ease-in forwards;
    background-color: white;
    border-radius: inherit;
    opacity: 1
}

.kitty-card-overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.kitty-card:hover {
    animation: zoomin 0.20s ease-in forwards;
    cursor: pointer;
    transform: scale(1.12);
}